.container-fluid {
    padding: 0;
}

.button-action {
    margin: 8px;
}

.navbar {
    border-radius: 0;
    margin: 0;
}

pre {
    border-radius: 0;
    background: #efefef;
    padding: 10px;
    overflow: visible;
        margin: 10px;
}

pre code {
    margin: 0;
    font-family: monospace;
    font-size: 10px;
    padding: 10px;
    overflow: visible;
}

#wizard {
	background-color: #FA2A00;
	min-height: 200px;
}

.class_name {
	padding: 5px !important;
	background-color: red !important;
}