li {
    list-style-type: none;
}

#formEditor {
    margin: 20px 0;
    padding: 0 20px;
}

#componentsForm {
    padding: 20px 0;
    background: #eee;
    margin-bottom: 10px;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    min-height: 135px;
}

#componentsForm li {
    margin: 1px 0;
    cursor: pointer;
}

#componentsForm .component {
    /* background-color: #fff; */
}

#componentsForm li > .btn-sm {
    margin: 1px 0;
    cursor: pointer;
    padding: 1px 5px;
    font-size: 14px;
}

#modelFields {
    padding: 20px;
    background: #eee;
    margin-bottom: 20px;
    z-index: 1;
    border-radius: 10px;
    max-height: 70vh;
    overflow-y: scroll;
}

#modelFields li > .btn-sm {
    padding: 0px 3px;
}

#modelFields .drag-disabled {
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #ccc;
    margin-left: 20px;
}

#modelFields .drag-disabled .btn {
    background-color: transparent;
    color: #333;
}

.drop-field > .remove-btn {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 14px;
    padding: 0px 4px;
}

.row-dropzone > .remove-btn {
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 14px;
    padding: 3px 8px;
}

.fields-dropzone .row-dropzone {
    background-color: #fcf8e3;
    border: none;
    position: relative;
    /*
    color: #fff;
    border-radius: 5px;
     background-color: rgba(0, 50, 50, 0.4);
    padding: 10px;
    border: 3px solid rgb(0, 120, 150); */
}

.fields-dropzone .row-dropzone > details {
    margin-bottom: 10px;
}

.dropzone-active {
    opacity: .8;
}

.border-dashed {
    background: -webkit-linear-gradient(0deg, black 50%, transparent 50%), -webkit-linear-gradient(0deg, black 50%, transparent 50%), -webkit-linear-gradient(90deg, black 50%, transparent 50%), -webkit-linear-gradient(90deg, black 50%, transparent 50%);
    background: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 36px 3px, 36px 3px, 3px 36px, 3px 36px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    -webkit-animation: dash 15s linear infinite;
    animation: dash 15s linear infinite;
}

@-webkit-keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

.drop-field {
    cursor: pointer;
    margin: 2px 0;
    background-color: rgb(255, 255, 255);
    padding: 4px 10px 3px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    position: relative;
}

#modelFields li {
    margin: 1px 0;
    cursor: pointer;
    list-style-type: none;
}

.fields-dropzone {
    padding: 10px 10px 40px;
    /* background: #eee;*/
    min-height: 100px;
    margin: 0 0 5px;
    border-radius: 10px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.color-long {
    background-color: #8ae0f9;
    color: #000;
}

.color-integer {
    background-color: #0AABBA;
    color: #fff;
}

.color-big-decimal {
    background-color: #006f90;
    color: #fff;
}

.color-boolean {
    background-color: #36802D;
    color: #fff;
}

.color-string {
    background-color: #FE0557;
    color: #fff;
}

.color-date {
    background-color: #FE8B05;
    color: #fff;
}

.color-time-stamp {
    background-color: #f3cb3d;
    color: #000;
}

.color-list {
    background-color: #9F0A28;
    color: #fff;
}

.color-class {
    background-color: #000;
    color: #fff;
}

.color-default {
    background-color: #ccc;
    color: #fff;
}

.col-min-padding {
    padding: 0 2px;
}


/* 

.step-item {
    min-width: 200px;
    max-width: 405px;
    border-radius: 10px;
    min-height: 100px;
    background-color: #eee;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 5px;
    vertical-align: top;
}

.step-item.ui-selected {
    background-color: rgba(180, 70, 0, 0.5);
    pointer-events: none;
}

.step-item .list-forms-step {}

.step-item .label-step {
    background-color: #ffffff;
    margin: 0;
    border-radius: 5px;
    padding: 4px;
    font-size: 1em;
    font-weight: 600;
    text-transform: capitalize;
}

.step-item ul {
    margin-top: 2px;
    min-height: 20px;
    min-width: 100px;
    background-color: rgba(0, 0, 0, .1);
    padding: 2px;
}

.step-item .form-item, 
#extraForms .form-item {
    min-width: 35px;
    background-color: #00B4CC;
    border-radius: 2px;
    display: inline-block;
    margin: 0 2px;
    height: 30px;
}

.step-item .form-item:hover,
#extraForms .form-item:hover {
    background-color: #008C9E;
}

.step-item .form-item.ui-selected,
#extraForms .form-item.ui-selected {
    background-color: #00DFFC;
}

.step-item .float-icon {
    color: #fff;
    
    float: right;
    margin-right: -30px;
    margin-top: 32px;
}

.wizard-dropzone {
    padding: 10px;
    border-radius: 10px;
    background-color: #FABE28;
    margin-bottom: 10px;
    min-height: 135px;
}

.add-step {
    color: #fff;
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
}
*/


/* .opa {
    background-color: red;
}

 */


/*  */

.extra-forms-container {
    padding: 10px;
    border-radius: 10px;
    background-color: #FF8A00;
    margin-bottom: 10px;
    min-height: 135px;
}


/* 
#FF8A00
#FF003C
#FABE28
#88C100
#00C176

Azuis
#00DFFC
#00B4CC
#008C9E
#005F6B
 */
