/* body {
    background: #92B35A;
}
 */


/* 

#92B35A

 */

.editor-list-steps {
    background: #333;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 80px 20px;
    transition: all 0.2s;
}

.editor-step {
    width: 140px;
    background: #ffb819;
    display: inline-block;
    padding: 0 5px 30px;
    vertical-align: top;
    transition: all 0.2s;
    margin: 0 10px;
    position: relative;
}

.editor-step .content {
    width: 100%;
}

.editor-step .content .fields {
    display: none;
    width: 100%;
}

.editor-step.editing .content .fields {
    display: block;
    background-color: #fff;
    padding: 10px;
}

.editor-step.editing .icon-edit {
    display: none;
}

.editor-step .content .fields input[type="text"] {
    width: 100%;
    display: block;
}

.editor-step .content .fields input[type="checkbox"] {
    margin-top: 0;
}

.editor-step .content .fields label {
    font-size: .8em;
    text-transform: capitalize;
    font-weight: 600;
}

.editor-step .content .fields i {
    margin: 0 5px;
    font-size: 1.3em;
}

.editor-step.editing {
    width: 260px;
}

.editor-step.editing ul {
    display: none;
}

.editor-step:nth-child(2n) {
    background: #fcd000;
}

.editor-step.dragging {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .5);
    transform: rotate(-2deg);
}

.editor-step-placeholder {
    width: 160px;
    height: 80px;
    display: inline-block;
    background: rgba(0, 0, 0, .3);
    margin-bottom: 5px;
    padding: 0 10px 20px;
    margin: 5px;
    border: 3px dotted #fff;
}

.editor-step ul {
    white-space: normal;
    padding: 0;
    list-style-type: none;
    min-height: 30px;
    background: rgba(0, 0, 0, 0.1);
}

.editor-step .header {
    padding: 5px 0;
    margin-bottom: 5px;
    position: relative;
    color: #000;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}

.editor-step .header h3 {
    font-size: .8em;
    padding: 3px 0;
}

.icon-toggle {
    position: relative;
    float: right;
    transition-duration: 0.2s;
}

.icon-edit {
    display: block;
    position: relative;
    float: right;
    transition-duration: 0.2s;
    margin-right: 3px;
}

.icon-close {
    display: block;
    position: relative;
    float: right;
    transition-duration: 0.2s;
    margin-left: 3px;
    transform: rotate(45deg);
    display: none;
}

.editor-step.editing .icon-toggle {
    display: none;
}

.editor-step.editing .icon-close {
    display: block;
}

.icon-close,
.icon-edit,
.icon-toggle {
    color: rgba(0, 0, 0, .4);
}

.icon-close:hover,
.icon-edit:hover,
.icon-toggle:hover {
    color: #000;
}


/*  */

.editor-form {
    background-color: #fff;
        width: 100%;
    margin-bottom: 5px;
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

.editor-form.editing {
    background-color: #000;
}

.editor-form .header {
    padding: 3px 5px;
    margin-bottom: 5px;
    position: relative;
    background: #ff7600;
    color: #fff;
    user-select: none;
    cursor: pointer;
    font-size: .8em;
}

.editor-form:nth-child(2n) .header {
    background: #ff5a1a;
}

.editor-form .content {
    background: rgba(0, 0, 0, 0.1);
    padding: 2px;
    user-select: none;
    color: #000;
    font-size: .7em;
    min-height: 30px;
}

.editor-form-placeholder {
    width: 100%;
    border: 3px dotted #000;
    height: 50px;
    background: rgba(0, 0, 0, .3);
    margin-bottom: 5px;
}

.icon-opened {
    transform: rotate(90deg);
}

.editor-form.dragging {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .5);
    transform: rotate(10deg);
}

.step-index {
    display: none;
}

.form-index {
    display: none;
}

#wizardEditor {
    position: relative;
}

#componentsWizard {
    position: absolute;
    top: 0;
    color: #fff;
    display: flex;
    padding: 10px;
}

#componentsWizard li {
    border-radius: 5px;
    padding: 3px 5px;
    margin: 0 2px;
    background-color: #000;
}

.add-form {
        bottom: 4px;
    left: calc(50% - 20px);
    width: 40px;
    position: absolute;
    font-size: 14px;
    background-color: #fff;
    padding: 4px;
    border-radius: 3px;
    text-align: center;
}

.add-form:hover {
    color: #fff;
    background-color: #000;
}

.editor-step.editing .add-form {
    display: none;
}


/* 




 */

.form-preview-input {
    background-color: #999;
    height: 5px;
    width: 100%;
    display: block;
    margin-bottom: 3px;
    margin: 2px;
}

.form-preview-line {
    height: 5px;
    width: 100%;
    display: flex;
    margin-bottom: 3px;
}

.editor-form > .content > .preview {
    padding: 2px;
    text-align: center;
}

.editor-form.editing > .content > .preview {
    color: #fff;
}
