/* STEPS NAV */

#wizardForms {
    padding: 0 10px;
}

.steps-nav {
    /* margin: 0;
    padding: 0;
    list-style: none;
    background-color: #dde1e2; */
    margin-bottom: 10px;
}

.steps-nav .step-item .step-link {
    /* display: inline-block;
    border-right: 2px solid #fff;
    background: #eee; */
    border: 1px solid #0275d8;
}

.steps-nav .step-item {
    /* padding: 20px 30px;
    display: block;
    border: 0;
    border-radius: 0;
    color: #666; */
    padding: 2px;
}

.steps-nav .step-link i {
    /*  width: 16px; */
}

.steps-nav .step-link label {
    margin: 0;
    margin-left: 5px;
}

.steps-nav .step-item.disabled .step-link {
    pointer-events: none;
    background: #ddd;
    color: #ccc;
    border: 1px solid #dddddd;
}

.steps-nav .step-item.active .step-link {
    /*  pointer-events: none; */
    background-color: #0275d8;
    color: #fff;
}


/* FORMS NAV */

.form-nav .form-item {
    background-color: #fff;
}

.form-nav .form-item.active {
    background-color: #0275d8;
}

.form-nav .form-item.active .form-link {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.form-nav .form-item.active .form-link:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0da";
    margin-right: 5px;
}

.form-nav .form-item.disabled {
    pointer-events: none;
    background-color: #ddd;
}

.form-nav .form-item.disabled .form-link {
    color: #999;
}

.btn-action.disabled {
    pointer-events: none;
    background: #ccc;
    border-color: #ccc;
}

.form-panel-group {
    margin: 0 15px 10px;
}


/*  */

input:valid,
input:in-range {
    background: hsl(120, 50%, 90%);
    border-color: hsl(120, 50%, 50%);
}

input:invalid,
input:out-of-range {
    border-color: hsl(0, 50%, 50%);
    background: hsl(0, 50%, 90%);
}

label.control-label {
    text-transform: capitalize;
    font-size: .8em;
    padding-bottom: 2px;
}

.not-saved {
    color: red;
    padding: 0 10px;
    -webkit-animation: pulse 1s ease-in-out infinite;
    animation: pulse 1s ease-in-out infinite;
}


/* BOOTSTRAP */


/* .container-fluid {
    margin-top: 50px;
} */

.panel-footer {
    text-align: right;
}

.progress {
    height: 5px;
    border-radius: 0;
}

.col-no-padding {
    padding: 0;
}

.nav-justified>.dropdown .dropdown-menu {
    top: 100%;
}


/* .nav {
    margin-bottom: 10px;
} */


/* .nav-item .nav-link.active:focus,
.nav-item .nav-link.active:hover, */

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }
}
